<% title 'About us' %>
<h1>About us</h1>
<ul>
  <li>77 <strong>Sutdent Nationalities</strong></li>
  <li>7,000 <strong>Students</strong></li>
  <li>3 <strong>Historic Campus</strong></li>
  <li>40 <strong>Years' Heritage</strong></li>
  <li>40 <strong>International Partnerships</strong></li>
</ul>
<p>
  Established in 1974, Griffith College is Ireland's largest independent 3rd level institution with locations in Dublin, Cork and Limerick. Griffith College enjoys national and a growing international reputation for student success. The College has gained an enviable, award winning reputation for providing students with first class lectures and excellent study material. Griffith College offers internationally recognised postgraduate and undergraduate degree programmes, complemented by a wide range of professional, short term and corporate training educational solutions - in Griffith College, which is a designated educational institute of Quality & Qualifications Ireland (QQI). The year 2014 marks an important milestone for Griffith College as we celebrate the 40th anniversary of its founding. During that time, many former students have gone on to distinguished careers in Ireland and internationally, in fields as diverse as accountancy, business, computing, design, law, media, music and drama. If you are interested in studying at Griffith, we'd be delighted to meet you at one of our upcoming open days to discuss the course that best suits your needs.
</p>
