<% title 'Contact us' %>
<h1>Contact us</h1>
<div>
  <h2>Cork</h2>
  <p>
    Griffith College Cork,<br/>
    Wellington Road,<br/>
    Cork.
  </p>
  <p>
    Phone: +353 21 4507027<br/>
    Email: admissions@gcc.ie
  </p>
</div>
<div>
  <h2>Dublin</h2>
  <p>
    Griffith College Dublin,<br/>
    South Circular Road,<br/>
    Dublin 8,<br/>
    Dublin.
  </p>
  <p>
    Phone: +353 1 415 04 00<br/>
    Email: admissions@gcd.ie
  </p>
</div>
<div>
  <h2>Limerick</h2>
  <p>
    Griffith College Limerick,<br/>
    O'Connell Avenue,<br/>
    Limerick City,<br/>
    Limerick.
  </p>
  <p>
    Phone: +353 61 310031<br/>
    Email: admissions@gcl.ie
  </p>
</div>


