<% title 'Courses' %>
<h1>Courses</h1>
<p>
  Griffith College’s wide range of undergraduate, postgraduate and short courses.
</p>
<ul>
  <li>Certificate in International Business</li>
  <li>MBA in International Business</li>
  <li>ACCA - Computer Based Exams</li>
  <li>Diploma in Marketing, Advertising, PR & Sales</li>
</ul>
