<% title 'Home' %>

<%= image_tag('/GCD.jpg', size: '212x127', alt: 'GCD Logo') %>

<h1>Study at Griffith College – Dublin, Cork and Limerick<br/><small>The largest and longest established private college in Ireland</small></h1>

<ul id="home-links">
  <li><a href="/pages/courses">Find more about the courses</a></li>
  <li><a href="/pages/locations">Find where you can study</a></li>
</ul>

<p>Established in 1974, with campuses in Dublin, Cork and Limerick, Griffith College is the largest independent higher education institution in Ireland with a student population of around 7,000 with 1,400 overseas students from over 77 countries.
  It is named after the former Griffith Barracks on the South Circular Road in Dublin</p>
