/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    padding: 0;
    margin: 0;
    background: #f0f0f0;
}

nav ul {
    list-style: none;
    margin: 50px auto;
    padding: 0;
    max-width: 1000px;
    background: rgb(237, 28, 36);
}

nav li {
    display: inline;
}

nav li a {
    padding:10px 20px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav li a:hover {
    background: rgb(250, 60, 60);;
}

#main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background: #fafafa;
}

h1 {
    color: #666;
    font-size: 20px;
    text-align: center;
}