<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Griffith College</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= render 'layouts/header' %>
</nav>
<div id="main">
  <%= yield %>
</div>
</body>
</html>
